body{
    background-color: #eee;
    display: flex;
    flex-direction: column;
}

#page-wrapper{
    position: relative;
}

#header{
    position: fixed;
    top: 0px;
    display: flex;
    position: fixed;
}

#header-img{
    margin: auto;
    width: 250px;
    height: 30px;
}

#nav-bar{
    display: flex;
    flex-direction: row;
}


#horizontal{
    padding-top: 10px;
    margin-left: 750px;
    margin-top: 5px;
}

li{
    display: inline;
    list-style: none;
    padding-left: 15px;

}

.nav-link{
    color: black;
    font-weight: bold;
    font-size: 25px;
}

.nav-link-footer{
    color: black;
    font-size: 18px;
}

a{
    color: black;
    text-decoration: none;
}

#features{
    margin: auto;
    margin-top: 5%;
    margin-left: 250px;
}

#list_features{
    list-style-type: none;
    list-style-image: url('camion.png');
    margin: auto;
}

label{
    font-weight: bold;
    font-size: 20px;
}

.li_list_features1 {
    list-style-image: url('camion.png');
    margin-top: 500%;
}

.li_list_features2 {
    list-style-image: url('camion.png');
}

#how_it_works{
    margin: auto;
    margin-top: 5%;
    width: 50%;
}

#div_form{
    margin: auto;
    margin-top: 5%;
    width: 50%;
}

#label_email{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-left: 28%;
}

input{
    text-align: left;
    font-size: 14px;
    margin-top: 1%;
    margin-left: 38%;
}

#submit{
    background-color: green;
    font-weight: bold;
    margin-top: 1%;
    margin-left: 42%;
}

.fullCard {
    width: 350px;
    border: 1px solid #000;
    border-radius: 5px;
    margin: auto;
  }

  #pricing{
    display: flex;
    flex-direction: row;
  }

  h4 {
    text-align: center;
    background-color: rgba(45, 45, 45, 0.1);
    font-size: 27px;
  }

  p {
    text-align: center;
    font-size: 22px;
  }

  .button_shop{
    background-color: yellowgreen;
    text-align: center;
    margin-top: 10%;
  }

  footer{
    background-color: rgba(45, 45, 45, 0.1);
    text-align: right;
    margin: auto;
    margin-top: 10%;
    width: 80%;
    padding: 1%;
  }

  @media (max-height: 800px) { 
    .button_shop{
      background-color: burlywood;
    }
  }